.main-view-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content-box {
    display: flex;
    height: 500px;
    width: 800px;
    justify-content: center;
    align-items: center;
}

.clickable:hover {
    cursor: pointer;
    color:rgb(0, 0, 255);
}

.clickable {
    color: rgb(0, 0, 184);
}

#profile-image {
    height: 90%;
}

.text-container {
    width: 400px;
    margin-left: 50px;
    font-size: 150%;
}

.social-icon {
    margin-left: 5px;
    height: 20px;
}