.contact-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contact-container button {
    margin: 5px;
}

.clickable:hover {
    cursor: pointer;
}

.social-icon {
    margin-left: 5px;
    height: 20px;
}